
body{
	text-align:center;
	background-color: #CCCCCC;
}


.adroite{
	text-align: center;
}

#container{
	position: absolute;
	left: 50%;
	width:750px;
	height:450px;
	margin-left: -350px;
	top: 40px;
	//border-width:1px;
	border-style:ridge;
	border-color:grey;
	//background:#f7f7f7;
	background:white;
}

#navbar{
	width:auto;
	display:block; 
	height:40px;
	background-color: grey;
}

a#header-logo{
	float:left;
	width:150px;
	height:50px;
	background:url(http://www.topquizz.com/img/logo-header.png) top no-repeat;
	background-size:100%;
}

h1 { 
	color: navy;
	text-align: center;
}

h2 { 
	color: blue;
}


a.returnTOC{
	text-align : center;
	display : block;
}

div{
	text-align:center;
}

#parent {
	position : left;
	width : 35px;
	height :35px;
 
}

#score{
	position: absolute;
	left: 50%;
	width:150px;
	height:50px;
	margin-left: -70px;
	top: 70px;
	border-style:ridge;
	border-color:grey;
	background:white;
}

#replay{
	position: absolute;
	left: 20%;
	width:95px;
	height:35px;
	margin-left: -60px;
	border-style:ridge;
	border-color:grey;
	background:white;
}

#save{
	position: absolute;
	right: 20%;
	width:95px;
	height:35px;
	margin-left: -60px;
	border-style:ridge;
	border-color:grey;
	background:white;
}
