
body{
	text-align:center;
	background-color: #CCCCCC;
	font-size: 14px;
}


.adroite{
	text-align: center;
}

#container{
	position: absolute;
	left: 50%;
	width:650px;
	height:515px;
	margin-left: -350px;
	top: 40px;
	//border-width:1px;
	border-style:ridge;
	border-color:grey;
	//background:#f7f7f7;
	background:white;
}


a#header-logo{
	float:left;
	width:150px;
	height:50px;
	background:url(http://www.topquizz.com/img/logo-header.png) top no-repeat;
	background-size:100%;
}

h1 { 
	color: navy;
	text-align: center;
	font-size: 17px;
}

h2 { 
	color: navy;
	font-family: Verdana, sans-serif; 
	font-style:italic;
	font-size: 12px;
}


a.returnTOC{
	text-align : center;
	display : block;
}

div{
	text-align:center;
}

#parent {
	position : left;
	width : 35px;
	height :35px;
 
}

#score{
	position: absolute;
	left: 50%;
	width:150px;
	height:50px;
	margin-left: -70px;
	top: 70px;
	border-style:ridge;
	border-color:grey;
	background:white;
}

#replay{
	position: absolute;
	left: 20%;
	width:95px;
	height:35px;
	margin-left: -60px;
	border-style:ridge;
	border-color:grey;
	background:white;
}

#save{
	position: absolute;
	right: 20%;
	width:95px;
	height:35px;
	margin-left: -60px;
	border-style:ridge;
	border-color:grey;
	background:white;
}
